.commentsandimage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 80px;
}

.weather {
  width: 300px;
  height: 200px;
  margin: 50px;
  border: 2px solid rgba(233, 230, 230, 0.7);
  background: url("../../images/weather.png");
  background-size: cover;
  border-radius: 10px;
  box-shadow: 10px 8px 7px #c2bebe;
  padding: 20px 10px;

}

.weatherlink {
  font-size: 30px;
  font-weight: bold;
  color: rgb(49, 48, 52);
  text-decoration: none;
  text-align: center;
}

.comments-slideshow {
  width: 800px;
  height: 450px;
  margin-top: 50px;
  border-radius: 10px;
}

.menu2 {
  font-size: 18px;
  color: rgb(37, 36, 36);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.contactus2 {
  width: 300px;
  height: 200px;
  margin: 50px;
  border: 2px solid rgba(233, 230, 230, 0.7);
  /* background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%); */
  background: url("../../images/contactus2.png");
  background-size: cover;
  /* opacity: 0.5; */
  border-radius: 10px;
  box-shadow: 10px 8px 7px #c2bebe;
  padding: 20px 10px;
}

.contacusp {
  font-size: 24px;
  margin-bottom: 10px;
}

.comments {
  margin-top: 40px;
  margin-right: 50px;
  height: 500px;
  width: 1100px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-left: 50px;
  position:static;
}

.comments-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.comments-container {
  margin-top: 30px;
}

.comment-form-textarea {
  width: 600px;
  height: 120px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
  font-size: 18px;
}

.comment-form-button {
  display: flex;
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
  margin-bottom: -30px;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 17px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 16px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.picker-container {
  position: relative;
  width: 400px;
  margin-left: 197px;
}

.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: 17px;
  width: 20px;
}
