/* .main {
  width: 100%;
  text-align: center;
  position:flex;
  z-index: -1;

} */

.calg {
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: 50px;
  margin-bottom: 30px;
  position: flex;
}
