.map {
  width: 100%;
  text-align: center;
   z-index: -1;
  margin-top:30px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-family: inherit;
  font-size: 32px;
  font-style: inherit;
}

.mapandinfo {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content:left;
  align-items:center;
}
.map-container {
  height: 500px;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  /* position: relative; */
}

.sidebar {
  margin-left: 5%;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 1;
  left: 0;
  /* margin: 12px; */
  border-radius: 4px;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.info {
  padding: 20px;
  margin-top: 30px;
  margin-left: 80%;
  margin-right: 5%;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 1;
  left: 0;
  /* margin: 12px; */
  border-radius: 4px;
}
