h2 {
  margin-top: 43rem;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-style: inherit;
}

.map-container {
  height: 500px;
  width: auto;
  top: 0;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.sidebar {
  margin-top: 45rem;
  margin-left: 5%;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 12px; */
  border-radius: 4px;
}
