.navbar {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #eee;
  position: fixed;
}

.navbar .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar .nav-menu {
  display: flex;
  height: 80%;
  align-items: center;
  vertical-align:middle;
  text-decoration: none;
  color: #333;
  font-size: 20px;

}

bike {

  vertical-align:middle;
}

h1 {
  color: rgb(69, 67, 67);

  
 }

.navbar li {
  padding: 1rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .hamburger {
    display: block;
  }

  .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 90px;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);
    transition: 0.4s ease-in-out;
    z-index: 10;
  }

  .navbar .active {
    right: 0;
  }

  .navbar .nav-menu li a {
    font-size: 2rem;
   
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
.menu {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.menu:hover {
  color: #5651e5;
}

body {
  margin: 0;
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:ative {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0, 0.2);
  border-bottom: none;
}
